---
import { db, Sessions, eq } from "astro:db";
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow } from "../ui/table";
import { Button } from "../ui/button";

const { id } = Astro.props;

let session_data:
    {
        id: number,
        name: string,
        created_at: Date,
        updated_at: Date,
        nId: number}[]
    = [];

if (id !== undefined) {
    session_data = await db.select().from(Sessions).where(
        eq(Sessions.nId, parseInt(id, 10))
    );
}
---

<Table>
    <TableHeader>
        <TableRow>
            <TableHead className="w-[200px]">Name</TableHead>
            <TableHead className="w-[200px]">Q&A</TableHead>
            <TableHead>Action</TableHead>
        </TableRow>
    </TableHeader>
    <TableBody>
        {session_data.map((s) => (
            <TableRow>
                <TableCell className="font-medium">{s.name}</TableCell>
                <!-- TODO: Add modal -->
                <TableCell className="font-medium">
                    <Button variant="link" className="h-0 p-0">
                        Q&A
                    </Button>
                </TableCell>
            <TableCell className="font-medium">
                <a target="_blank" href={`/s/${s.id}`}>
                    <Button variant="link" className="h-0 p-0">
                        Open session {s.id}
                    </Button>
                </a>
                </TableCell>
            </TableRow>
        ))}
    </TableBody>
</Table>
