---
import '../styles/globals.css'
import Head from '@/components/Head.astro'
import Navigation from '@/components/Navigation.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head title="EdgeTalk" description="Astro" />
    </head>
    <body>
        <Navigation />

        <div class="flex items-center justify-center w-full h-full underline">
            <a href="/n">Negotiation dashboard</a>
        </div>

    </body>
</html>
