---
import '../styles/globals.css'
import Head from '@/components/Head.astro'
import Navigation from '@/components/Navigation.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head title="Edge-talk" description="Astro" />
    </head>
    <body>
        <Navigation />
    </body>
</html>
