---
import { db, Negotiations } from 'astro:db'
import '../../styles/global.css'
import NewNegotiationDialog from './modal/NewNegotiation';

const negotiations = await db.select().from(Negotiations);
---

<div class="flex flex-col w-full max-w-[300px] body-max-h overflow-y-auto">
    <NewNegotiationDialog client:idle />

    {negotiations.map((label) => (
    <p class="clickable-paragraph mb-1
        mr-2 items-center gap-2 whitespace-nowrap rounded-md text-sm
        font-medium ring-offset-background transition-colors
        focus-visible:outline-none focus-visible:ring-2
        focus-visible:ring-ring focus-visible:ring-offset-2
        disabled:pointer-events-none disabled:opacity-50
        [&_svg]:pointer-events-none [&_svg]:size-4
        [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground
        h-10 px-4 py-2 flex justify-between cursor-pointer
        ">
        {label.name}
    </p>
    ))}
</div>

<style>
.clicked {
    background-color: hsl(var(--accent));
}
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
    let lastClicked: HTMLElement | null = null;

    document.querySelectorAll('.clickable-paragraph').forEach((p) => {
        p.addEventListener('click', (event) => {
            if (lastClicked) lastClicked.classList.remove('clicked');

            const target = event.currentTarget as HTMLElement;
            target.classList.add('clicked');
            lastClicked = target;

            const content = document.getElementById('content')
            if (content) {
                content.innerHTML = target.textContent || '';
            }
        });
    });
});
</script>

