---
import { ModeToggle } from "./custom/ModeToggle";
---

<div class="flex items-center justify-between p-3">
    <h3 class="font-bold text-md">EdgeTalk.ai Astro</h3>

    <div class="">
        <ModeToggle client:load />
    </div>
</div>
